.main{
    display:flex;
    justify-content:center;
    padding:20px;
    flex-direction:row;


}
.control{
    padding:20px;
    margin:20px;
    

    
    
}
.box{
    position: absolute;
    top: 16px;
   
    right: 281px;


    height:500px;
    width:150px;
    background-color: grey;
    padding:20px;
    margin:20px;
    display:flex;
    justify-content: center;
    flex-direction: column;

    
}

.bulb1{
    background-color: black;
    height:100px;
    width:100px;
    margin:auto;
    border-radius: 50%;

    
}
.bulb2{
    background-color: black;
    height:100px;
    width:100px;
    margin:auto;
    border-radius: 50%;

    
}
.bulb3{
    background-color: black;
    height:100px;
    width:100px;
    margin:auto;
    border-radius: 50%;

    
}


   .stop:focus ~   .box .bulb1 {  
   
    background-color: red !important;
  }
  .wait:focus ~   .box .bulb2 {
    
    background-color: yellow !important;
  }
  .go:focus ~ .box .bulb3{
    background-color: green !important;
  }

  .reset:focus~.box .bulb1 .bulb2 .bulb3{
    background-color: black !important;;  
  }


button{
    
   
    display: block;
    margin: 2rem 4rem;
    padding: 1rem 2rem;
    width: 8rem;
    font-size: 1.3rem;
    color: black;
    text-align: center;
    border-radius: 2rem;




}
button:hover {
  background-color:rgb(140, 184, 223);
}

@keyframes alternate-lights{
  33%{
    .bulb1{
       background-color: red !important;
 
    }

  }
  66%{
    .bulb2{
      background-color:yellow !important;

   }
    
  }
  100%{
    .bulb3{
      background-color:green !important;

   }
    
  }
    
}
